@import "tailwindcss";
@source "../views";

h1, h2, h3, button {
    color: #0d0d0d;
}

p, a {
    color: #2a2a2a;
}

a:hover {
    background-color: #ff8e3c;
    cursor: pointer;
}

button:hover {
    background-color: #ff8e3c;
}


.theme-primary {
    background-color: #eff0f3;
}

.theme-primary th {
    background-color: #fffffe;
}


.theme-secondary {
    background-color: #fffffe;
}

.theme-secondary th {
    background-color: #eff0f3;
}