@import "tailwindcss";
@source "../views";

.bg-primary {
    background-color: rgb(17, 17, 19);
}

.bg-secondary {
    background: rgb(26, 28, 30);
}

.text-primary {
    color: rgb(218, 218, 218);
}

.text-secondary {
    color: rgb(161, 161, 170);
}

.theme-bg-primary {
    background-color: rgb(218, 255, 1);
}

.theme-bg-secondary {
    background-color: rgb(127, 74, 142);
}

.theme-tx-primary {
    color: rgb(218, 255, 1);
}

.theme-tx-secondary {
    color: rgb(127, 74, 142);
}

.underline-color {
    text-decoration-color: rgb(127, 74, 142);
}